<div class="row my-auto mt-3 position-relative">
    <div class="w-75  text-center mx-auto">
        <h5>Senators:</h5>       
        <img class="img-fluid img-thumbnail" src= <%= userData.representatives.senators[0].imageUrl %> >
        <p>Senator <%= userData.representatives.senators[0].name %></p>
        <img class="img-fluid img-thumbnail" src= <%= userData.representatives.senators[1].imageUrl %> >
        <p>Senator <%= userData.representatives.senators[1].name %></p>
        <hr>
        <h5>House Member</h5>
        <img class="img-fluid img-thumbnail" src="<%= userData.representatives.congressRep.imageUrl %>">
        <p>Representative <%= userData.representatives.congressRep.name %></p>
    </div>
    </div>